aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aioice==0.10.2
aiortc==1.13.0
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
av==14.2.0
cffi==2.0.0
cryptography==46.0.7
dnspython==2.7.0
frozenlist==1.8.0
google-crc32c==1.8.0
idna==3.11
ifaddr==0.2.0
janus==2.0.0
multidict==6.7.1
numpy==2.0.2
opencv-python==4.13.0.92
propcache==0.4.1
pycparser==2.23
pyee==13.0.1
pylibsrtp==0.12.0
pyOpenSSL==26.0.0
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.10.2
typing_extensions==4.15.0
websockets==15.0.1
yarl==1.22.0
